<h1>New Image</h1>

<%= form_for @image do |f| %>
  <div class="field">
    <%  f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.file_field :img %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

